@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    background: linear-gradient(45deg, rgb(3, 129, 168) 30%, rgb(51, 47, 186) 75%,rgb(6, 6, 117) 97%,rgb(1, 31, 112) 100%);  
    background-attachment: fixed;
}
* {
    margin: 10;
    padding: 10;
}

.amount,.total{
  color: #ffffff00;
  float: right;
  margin: 0px 30px 0px 0px;
  width: 30%;
  border-collapse: collapse;
}

h2{
  font-family: 'poppins', sans-serif;
  text-align: center;
  background-image: url(Absolute_Reality_v16_night_space_with_stars_dark_blue_dark_blu_0.jpg);
  font-size: 40px;
  margin: 20px 30px 10px 30px;
  border-radius: 9px;
}

i {
    margin: right 10px;
}

.container {
  display: flex;
  margin: 0px;
  padding:0px;
  justify-content: center;
}


input:focus,
button:focus,
.form-control:focus {
    outline: none;
    box-shadow: none;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #ffffff;
}
.table tr,
.table tr td {
    vertical-align: middle;
    color: #020134;
    word-spacing: 4px;
    padding: 3px;
  }
.button-container {
    display: flex;
    align-items: center;
}
.button-container .form-control {
    max-width: 80px;
    text-align: center;
    margin: 0px 5px;
}

#myTable .form-control {
    width: auto;
    display: inline-block;
}

.qty-plus,
.qty-minus {
    width: 25px;
    height: 25px;
    background-image: radial-gradient(rgb(108, 245, 240),#0845fd,rgb(32, 7, 106));
    border-radius: 100rem; 
    border: none;

}
.qty-plus:hover{
    /* background-color: #0fc009; */
    color: #010b3a;
    background-image: radial-gradient(rgb(108, 245, 108),#2dff26,rgb(17, 117, 17),rgb(9, 65, 0));

}
.qty-minus:hover {
  background-image: radial-gradient(rgb(245, 108, 108),#f64d4d,red,rgb(106, 7, 7));
  color: #eaff00;
}




/* Form css */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin:  30px;
    background-color: #fffdfd84;
    width: 782px;
    max-width: 1500px;
    padding: 5px 40px 20px 40px;
    border-radius: 5px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: rgb(0, 16, 66);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: rgb(249, 3, 73);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(1, 7, 50, 0.822);
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

    
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 100px;
  }
  
  .form label {
    color: #000000;
    position: relative;
    width: 100%;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: rgb(0, 0, 0);
    font-size: 0.99em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background: linear-gradient(45deg, rgb(3, 129, 168) 0%, rgb(51, 47, 186) 35%,rgb(6, 6, 117) 65%,rgb(1, 31, 112) 100%);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    width: 20%;
    align-items: center;
  }
  
  .submit:hover {
    background: linear-gradient(45deg, rgb(1, 0, 68) 0%, rgb(4, 47, 188) 35%,rgb(61, 61, 219) 65%,rgb(54, 191, 245) 100%);
    cursor: pointer;
    scale: 0.98;
    transition: 0.59s;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
  

  
.time-slots {
  margin-bottom: 20px;
}

h1 {
  text-align: left;
  color: #040685;
  margin: 0px;
  font-size: 24px;
}
h2{
  text-align: center;
  background-color: #2349afa7;
  font-size: 40px;
  margin: 25px 20px 20px 20px;
  border-radius: 5px;
  color: #fff;
}




.summary-table {
  color: #ffffff;
  float: right;
  margin: 0px 30px 0px 0px;
  width: 30%;
  border-collapse: collapse;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

.summary-table th {
  background: linear-gradient(45deg, rgb(6, 0, 57) 0%, rgb(12, 7, 155) 35%,rgb(14, 81, 181) 65%,rgb(88, 183, 246) 100%);
}

.charges{
background: linear-gradient(45deg, rgb(6, 0, 57) 0%, rgb(12, 7, 155) 35%,rgb(14, 81, 181) 65%,rgb(88, 183, 246) 100%);
}

.summary-table caption {
  caption-side: top;
  font-weight: bold;
  margin-bottom: 1px;
  padding: 0px 0px 8px 0px;
  font-size: 25px;
}


  /* Add a container to hold both the form and the summary table */
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    align-items: baseline;
}
  

/* Next page button styles */
.next-page-button-container {
  text-align: center;
  margin-top: 20px;
}

.next-page-button {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(42deg, rgb(5, 222, 88) 10%, rgb(42, 229, 28) 25%,rgb(27, 180, 25) 35%,rgb(27, 97, 2) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.8; /* Button is initially inactive */
}

.next-page-button:active,
.next-page-button:hover {
  opacity: 1.2; /* Button becomes active on hover and click */
}

/* Add styling for the Gender dropdown */
.form select.input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form select.input:focus {
  outline: none;
  border-color: #007bff;
}


/* Add styling for the Continue with purchase button */
.continue-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.continue-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.summary-table {
      float: right;
      margin: 20px;
      border-collapse: collapse;
    }

    .summary-table th,
    .summary-table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    .summary-table th {
      background-color: #001b40;
    }

.summary-table caption {
      caption-side: top;
      font-weight: bold;
      font-size: 25px;
      margin-bottom: 10px;
      margin-top: 20px;
}


/* New styles for the "Infant" row */
.qty[name="qty"][value="Infant"] {
  display: none;
}

.qty[name="qty"][value="Infant"] + .button-container {
  display: none;
}



#myTable .qty[name="qty"][value="Infant"] {
  display: inline-block;
  width: auto;
  text-align: center;
  padding: 5px 10px;
  margin: 0;
  background-color: transparent;
  color: #333;
  cursor: not-allowed;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  color: #000;
  font-weight: 700;
  border: 1px solid #64f3f0;
  background-image: linear-gradient(rgb(158, 247, 244),#a8b8e6,rgb(183, 169, 224));
}

.checkbox-list {
  display: none;
  position: absolute;
  border: 1px solid #000154;
  border-radius: 6px;
  background-color: #fff;
  width: 200px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.checkbox-list input[type="checkbox"] {
  display: block;
  padding: 5px 10px;
}

.show {
  display: block;
}



