@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;500;700&display=swap');



/* 
* h1{
  font-family:'Abril Fatface', cursive;
  font-weight: 400;
  
} */
/* * p{font-family:'Times New Roman', Times, serif;
} */

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.floating-button a {
  text-decoration: none;
  color: white;
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit:cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index:-5;
  filter:brightness(110%)
}

.HIKKA-SEC-2{
  background-image: url("images/hikkaduwa/check.png");
  background-attachment: fixed;
}
.HIKKA-SEC-2 h1{
  font-size: 38px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: rgb(0, 134, 196);
  text-align: left;
  padding:50px 80px;


}

.HIKKA-SEC-2-1{
  padding: 10px 80px 20px 80px;
  display: grid;
  grid-template-columns: 1.5fr 1.3fr;
  column-gap: 35px;
}

.hikka-start p{
  color: rgb(0, 0, 3);
  font-size: 22px;
  line-height: 24px;
  text-align: justify;
}


.hikka-start img {
    border-radius: 4px;
    align-self: center;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

@media only screen and (max-width:686px) {
  .HIKKA-SEC-2-1{
    grid-template-columns: 1fr;
  }
}


.HIKKA-SEC-3{
  
  background-image: url("images/hikkaduwa/check.png");
  background-attachment: fixed;
   
  }
  .HIKKA-SEC-3 h1{
    font-size: 38px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(0, 13, 126);
    text-align: left;
    padding:40px 80px 10px 80px;

  }
  
  .HIKKA-SEC-3-1{
    padding: 15px 80px;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1.2fr 1.5fr;
    column-gap: 28px;
  }
  @media only screen and (max-width:686px) {
    .HIKKA-SEC-3-1{
      grid-template-columns: 1fr;
    }
  }

.hikka-visit p{
  color: rgb(0, 0, 3);
  font-size: 22px;
  line-height: 22px;
  text-align: justify;

}
.hikka-visit iframe {
  height: 100%;
  border-radius: 3px;
  align-self: center;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
.HIKKA-SEC-4{
  background-image: url("images/hikkaduwa/check.png");
  background-attachment: fixed;
}
.HIKKA-SEC-4-1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
row-gap: 15px;
column-gap: 15px;
padding: 20px 80px 20px 80px;
}

/*MEDIAQUERY TO MAKE MOBILE RESPONSIVE*/
@media only screen and (max-width:686px) {
  .HIKKA-SEC-4-1{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }
}
.HIKKA-SEC-4-1 img{
 border-radius: 3px;
 align-self: center;
 width: 100%;
 object-fit: contain;
 object-position: center;
 transition: 0.6s;
}
.HIKKA-SEC-4-1 img:hover{
  cursor: pointer;
  transform: scale(1.2);
  filter: brightness(40%);
}

.HIKKA-SEC-4 h1{
font-size: 38px;
text-decoration: underline;
text-decoration-thickness: 3px;
text-decoration-color: rgb(0, 134, 196);
text-align: left;
padding: 0px 80px;
}

.HIKKA-SEC-5-1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  padding: 20px 80px 50px 80px;
  }
  @media only screen and (max-width:686px) {
    .HIKKA-SEC-5-1{
      grid-template-columns: 1fr;
    }
  }

  
  .hikka-other iframe {

      width: 100%;
      border-radius: 3px;
      align-self: center;
    
      object-fit: contain;
      object-position: center;
  }
  
  .HIKKA-SEC-5 h1{
    font-size: 38px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(1, 9, 103);
    text-align: left;
    padding:0px 80px;
  
  
  }

  .HIKKA-SEC-5 p{
   font-size:22px;
   text-align: center;
   text-decoration:underline;
   text-decoration-color: rgb(2, 1, 91);
  
  
  }
.HIKKA-SEC-5{
  background-image: url("images/hikkaduwa/check.png");
  background-attachment: fixed;
}
