* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    justify-content: center;
    align-items: center;
}
h3{
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.popup {
    position: absolute;
    width: 900px;
    left: 50%;
    top: 00%;
    background: #00002d;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(0); /* Initial state: scale(0) */
    text-align: center;
    padding: 0 30px 30px;
    color: #fbf5f5;
    visibility: hidden; /* Initial state: hidden */
    transition: transform 0.4s, top 0.4s, visibility 0s 0.4s;
}

.popup.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s, top 0.4s, visibility 0s;
}

.popup img {
    width: 90px;
    height: 90px;
    margin-top: -38px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 2px 5px #00BFFF;
}

.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0px;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.container-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notifications-container {
    position: center;
    width: 1220px;
    height: 100vh;
    font-size: 0.875rem;
    line-height: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .flex1 {
    display: flex;
  }
  
  .flex-shrink-0 {
    flex-shrink: 0;
  }
  
  .success {
    padding: 1rem;
    border-radius: 0.375rem;
    background-color: rgba(191, 210, 226, 0.529);
  }
  
  .succes-svg {
    color: rgb(1, 1, 213);
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .success-prompt-wrap {
    margin-left: 0.75rem;
  }
  
  .success-prompt-heading {
    font-weight: bold;
    color: rgb(3, 13, 67);
    font-size: 20px;
  }
  
  .success-prompt-prompt {
    margin-top: 0.5rem;
    font-size: 15px;
    color: rgb(21, 32, 128);
  }
  
  .success-button-container {
    display: flex;
    margin-top: 0.875rem;
    margin-bottom: -0.375rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  
  .success-button-main {
    --glow-color: rgb(83, 137, 253);
    --glow-spread-color: rgba(66, 173, 227, 0.781);
    --enhanced-glow-color: rgb(8, 60, 182);
    --btn-color: rgb(58, 67, 148);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .1em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .05em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #ECFDF5;
    color: rgb(4, 9, 80);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: bold;
    border-radius: 0.375rem;
    border: none
  }
  
  .success-button-main:hover {
    background-color: #b5bdf0;
  }
  
  .success-button-secondary {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background: linear-gradient(42deg, rgb(5, 222, 88) 20%, rgb(42, 229, 28) 45%,rgb(27, 180, 25) 65%,rgb(27, 97, 2) 100%);
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
  }
  
  .success-button-secondary:hover {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 0.75rem;
    background: linear-gradient(42deg, rgb(14, 96, 0) 10%, rgb(16, 156, 6) 45%,rgb(27, 180, 25) 65%,rgb(129, 239, 89) 100%);
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.375rem;
    border: none;
  }
  